<style>
    #barnacle {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999999;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        --color-background: #fff;
        --color-background-active: #ebebeb;
        --color-text: #555;
        --color-left: #ddd;
        --color-bottom: #b92547;
    }
    
    @media (prefers-color-scheme: dark) {
        #barnacle {
            --color-background: #252a37;
            --color-background-active: #4A5568;
            --color-text: #EDF2F7;
            --color-left: #2D3748;
            --color-bottom: #7b1e34;
        }
    }
    
    #barnacle .barnacle-component {
        display: block;
        padding: 5px 10px 5px 11px;
        background-color: var(--color-background);
        color: var(--color-text);
        cursor: default;
        background-image:
        linear-gradient(to left, var(--color-left) 1px, transparent 1px);
        border-bottom: 3px solid var(--color-bottom);
    }
    
    #barnacle > .barnacle-component:first-child {
        border-radius: 0 0 0 5px;
    }
    
    #barnacle .toggle,
    #barnacle a[href].barnacle-component {
        cursor: pointer;
    }

    #barnacle .toggle:hover,
    #barnacle a[href].barnacle-component:hover {
        background-color: var(--color-background-active);
    }

    #barnacle .barnacle-component svg {
        display: inline-block;
    }

    #barnacle .hider.open svg.closed {
        display: none;
    }
    #barnacle .hider:not(.open) svg.open {
        display: none;
    }

    #barnacle:has(> .hider:not(.open)) {
        opacity: 0;
        transition: opacity 300ms 700ms;
    }

    #barnacle:hover:has(> .hider:not(.open)) {
        opacity: 1;
        transition: opacity 50ms 0ms;
    }

    #barnacle details.barnacle-component {
        position: relative;
    }
    #barnacle details.barnacle-component .barnacle-popup {
        position: absolute;
        top: calc(100% + 3px);
        right: 0;
        padding: 5px 10px;
    }
    
    #barnacle details.barnacle-component.open {
        border-bottom: 3px solid transparent;
    }

    #barnacle details.barnacle-component .barnacle-popup > .barnacle-component {
        background-image:
        linear-gradient(to right, var(--color-left) 1px, transparent 1px),
        linear-gradient(to left, var(--color-left) 1px, transparent 1px);
        border-width: 0;
    }

    #barnacle details.barnacle-component .barnacle-popup > .barnacle-component:last-child {
        border-radius: 0 0 5px 5px;
        border-bottom: 3px solid var(--color-bottom);
    }
    
    #barnacle details.barnacle-component > summary {
        list-style: none;
    }

    #barnacle details.barnacle-component > summary::-webkit-details-marker {
        display: none;
    }

    @media (max-width: 500px) {
        #barnacle .barnacle-label {
            display: none;
        }
    }
</style>
{{ stack:barnacle }}
<div id="barnacle" data-version="{$this->getVersion()}">
    {{ foreach:barnacle.components }}
        {{ partial:if_exists src="barnacle::components/{{ value }}" }}
    {{ /foreach:barnacle.components }}
    <a class="barnacle-component hider toggle {{ barnacle.open }}" title="Toggle visibility">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="open">
            <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.6"
                d="M9.5 14.5L3 21M5 9.485l9.193 9.193l1.697-1.697l-.393-3.787l5.51-4.673l-5.85-5.85l-4.674 5.51l-3.786-.393z"
            />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="closed">
            <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.6"
                d="M9.5 14.5L3 21M7.676 7.89l-.979-.102L5 9.485l9.193 9.193l1.697-1.697l-.102-.981m-4.303-9l3.672-4.329l5.85 5.85l-4.308 3.654M3 3l18 18"
            />
        </svg>
    </a>
</div>
<script>
    const toggles = document.querySelectorAll('#barnacle .barnacle-component.toggle')
    toggles.forEach((toggle) => {
        toggle.addEventListener('click', () => {
            const result = toggle.classList.toggle('open')
            if (toggle.classList.contains('hider')) {
                console.log('hider hit')
                if (result) {
                    document.cookie = 'barnacle-hider=open'
                    console.log('open')
                } else {
                    document.cookie = 'barnacle-hider=closed'
                    console.log('closed')
                }
            }
        })
    })
</script>
