{{# vscode://file/Users/efc/Herd/v4/resources/views/home.antlers.html #}}
<a
  href="{{ barnacle.options.file_scheme }}{{ barnacle.initial_path }}"
  class="barnacle-component"
  title="Edit Markdown File"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    style="display: inline-block; width: 18px"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-width="0.9"
      d="M10 3L6 21m14.5-5h-18M22 7H4m14-4l-4 18"
    />
  </svg>
</a>
