{{ if barnacle.options.file_scheme && barnacle.initial_path }}
<a
  href="{{ barnacle.options.file_scheme }}{{ barnacle.initial_path }}"
  class="barnacle-component"
  title="Edit source file"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="18"
    height="18"
    viewBox="0 0 24 24"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-width="1.6"
      d="M10 3L6 21m14.5-5h-18M22 7H4m14-4l-4 18"
    />
  </svg>
  <span class="barnacle-label">source</span>
</a>
{{ /if}}
