{{# vscode://file/Users/efc/Herd/v4/resources/views/home.antlers.html #}} {{?
$base = resource_path('views') . "/$template" ?}} {{? $path =
file_exists("$base.antlers.html") ? "$base.antlers.html" :
(file_exists("$base.antlers.php") ? "$base.antlers.php" :
(file_exists("$base.blade.php") ? "$base.blade.php" : "")) ?}} {{ if $path }}
<a
  href="{{ barnacle.options.file_scheme }}{{ $path }}"
  class="barnacle-component"
  title="Edit Template File"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    style="display: inline-block; width: 18px"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="0.9"
      d="M9 21H8c-1.105 0-2-.894-2-1.999V14c0-1-1.5-2-1.5-2S6 11 6 10V5a2 2 0 0 1 2-2h1m6 18h1c1.105 0 2-.894 2-1.999V14c0-1 1.5-2 1.5-2S18 11 18 10V5a2 2 0 0 0-2-2h-1"
    />
  </svg>
  {{template}}
</a>
{{ else }}
<div class="barnacle-component">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    style="display: inline-block; width: 18px"
  >
    <path
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="0.9"
      d="M9 21H8c-1.105 0-2-.894-2-1.999V14c0-1-1.5-2-1.5-2S6 11 6 10V5a2 2 0 0 1 2-2h1m6 18h1c1.105 0 2-.894 2-1.999V14c0-1 1.5-2 1.5-2S18 11 18 10V5a2 2 0 0 0-2-2h-1"
    />
  </svg>
  {{template}}
</div>
{{ /if }}
